on:
  push:
    branches: [main]
name: update-cldr-langs
jobs:
  update-cldr-langs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: "3.10"
      - run: pip install polib
      - run: python gen_cldr_langs.py
      - uses: EndBug/add-and-commit@v9
        with:
          default_author: github_actions
          message: "Update languages names translations"
          add: "['cldr-langs/*.po', 'cldr-langs/LINGUAS']"

